body{
    margin: 0;
    padding: 0;
}

#header{
    background-image: url('../Images/bg.png') ;
    background-repeat: repeat-x;
    color: #b4b4b4;
}

#photo{
    background-image: url('../Images/bg-photo.png') ;
    background-repeat: repeat-x;
    height: 360px;
    margin-left: 10%;
    position: relative;
    width: 210px;
}

#photo img{
    bottom: 0;
    position: absolute;
}

h1#title{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 3em;
    position:absolute;
    text-align: center;
    text-transform: uppercase;
    top: 40px;
    width: 100%;
}

#sub-header{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
    font-weight: 100;
    width: 100%;
    text-align: center;
    color: #777777;
    margin: 2em 0 1em 0;
}

#content{
    color: #333333;
    line-height: 2em;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    font-weight: 100;
    margin-left:20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

#footer{
    background-image: url('../Images/bg-footer.png') ;
    background-repeat: repeat-x;
    font-size: 0.9em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    width: 100%;
}

#footer #copyright{
    background-image: url('../Images/bg-footer-left.png') ;
    background-repeat: repeat-x;
    color: white;
    margin-left: 10%;
    width: 210px;
    height: 90px;
}
