body{
    background-image: url('../Images/bg.png') ;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

#header{
    color: red;
}

#photo{
    background-image: url('../Images/bg-photo.png') ;
    background-repeat: repeat-x;
    height: 426px;
    margin-left: 10%;
    position: relative;
    width: 210px;
}

#photo img{
    bottom: 0;
    position: absolute;
}

#title{
    font-family: “Segoe UI”,Arial,Helvetica,sans-serif;
    font-weight: lighter;
    position:absolute;
    text-align: center;
    text-transform: uppercase;
    top: 65px;

}
