body {

  background-image: url('../Images/3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#999;

  font-family: 'Open Sans', sans-serif;
}

h1{
    color: white;
    font-weight: 400;
    font-size: 3em;
}

h3{
    color: white;
    font-weight: 300;
    font-size: 2em;
    width: 30%;
}

footer{
    color: white;
    font-weight: 300;
    font-size: 0.7em;
    bottom: 1em;;
    position: fixed;
}
nav{
    float: right;
    position: fixed;
    top: 1em;
}
nav a{
    color: white;
    text-decoration: none;

}
